<p>This kind of agreement can be used regardless of what platform your business operates on:</p>
<ul>
<li>Websites</li>
<li>WordPress blogs, or any other platforms: Joomla!, Drupal etc.</li>
<li>E-commerce shops</li>
<li>Mobile apps: iOS, Android or Windows phone</li>
<li>Facebook apps (related read: <a href="https://termsfeed.com/blog/facebook-terms-of-service-login-details-app-details/">Facebook: Terms of Service for Login Dialog and App Details</a>)</li>
<li>Desktop apps</li>
<li>SaaS apps (related read: <a href="https://termsfeed.com/blog/terms-use-privacy-policy-sass-applications/">Terms of Use &#038; Privacy Policy For SaaS Applications</a>)</li>
</ul>
<p>Desktop apps usually have an EULA agreement instead of a Terms and Conditions agreement. EULA stands for End-User License Agreement.  Mobile apps are increasingly using Terms and Conditions instead of EULAs.</p>
